* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .5s ease-in-out; 
}
body {
    @extend %Rubik-r;
    -webkit-appearance: none;
    &.fix-body {
        overflow: hidden;
    }
}
li {
    list-style: none;
}
a, button, input[type=submit] {
    cursor: pointer;
    -webkit-appearance: none;
    border: 0;
    background-color: transparent;
}
.wrapper {  
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 340px;
    min-height: 100vh;
    @media screen and (max-width: $small) {
        padding-bottom: 0;
    }
}
p {
    color: #282828;
    font-size: 18px;
    line-height: 1.8;
    @media screen and (max-width: $extra) {
        font-size: 14px;
    }
}
input, textarea, button, a {
    outline: none;
}

.container {
    width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    @media screen and (max-width: $extra) {
        width: $medium;
    }
    @media screen and (max-width: $medium) {
        width: $small;
    }
    @media screen and (max-width: $small) {
        width: 100%;
    }
}

h1, h2, h3, h4, h5, h6 {
    @extend %Rubik-b;
}
h1 {
    text-transform: uppercase;
    color: #386ad0;    
    font-size: 48px;
    line-height: 1.1;
    text-transform: uppercase;
    text-align: left;
    margin: 25px 0;
    @media screen and (max-width: $extra) {
        font-size: 38px;
    }
    @media screen and (max-width: $medium) {
        font-size: 36px;
    }
    @media screen and (max-width: $small) {
        font-size: 28px;
    }
}
h2 {
    color: #386ad0;
    font-size: 36px;
    line-height: 1.3;
    text-transform: uppercase;

    @media screen and (max-width: $extra) {
        font-size: 34px;
    }
    @media screen and (max-width: $medium) {
        font-size: 32px;
    }
    @media screen and (max-width: $small) {
        font-size: 28px;
    }
    span {
        color: #282828;
        @extend %Rubik-r;
        font-size: 24px;
        line-height: 1.8;
        text-transform: uppercase;
        display: block;
        @media screen and (max-width: $extra) {
            font-size: 21px;
        }
        @media screen and (max-width: $medium) {
            font-size: 18px;
        }
        @media screen and (max-width: $small) {
            font-size: 16px;
        }
    }
}
h3 {
    color: #386ad0;
    font-size: 36px;
    line-height: 1.3;
    text-transform: uppercase;
    @extend %Rubik-m;
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    @media screen and (max-width: $extra) {
        font-size: 28px;
    }
    @media screen and (max-width: $small) {
        font-size: 24px;
    }
}
h4 {
    color: #386ad0;
    font-size: 24px;
    line-height: 1.3;
    text-transform: uppercase;
    @media screen and (max-width: $extra) {
        font-size: 21px;
    }
}
p {
    color: #282828;
    @extend %Rubik-r;
    font-size: 18px;
    line-height: 1.6;
    @media screen and (max-width: $extra) {
        font-size: 14px;
    }
    @media screen and (max-width: $small) {
        font-size: 14px;
    }
}
.btn {
    background-color: $green;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    @extend %Rubik-m;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    position: relative;
    &:hover {
        position: relative;
        color: $green;
        background-color: transparent;
        &:before {
            content: '';
            border: 2px solid $green;
            position: absolute;
            border-radius: 5px;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            top: 0;
            left: 0;
        }
    }
    &--gray {        
        color: #9f9f9f;
        background-color: transparent;        
        &:before {
            content: '';
            border: 2px solid #9f9f9f;
            position: absolute;
            border-radius: 5px;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            top: 0;
            left: 0;
        }
        &:hover {
            background-color: $green;
            border-radius: 5px;
            text-align: center;
            color: #ffffff;
            &:before {
                // display: none;
            }
        }
    }
}
// form inputs
.input {
    width: 100%;
    display: inline-block;
    margin-bottom: 29px;
    &50 {
        width: calc(50% - 15px);
        @media screen and (max-width: $small) {
            width: 100%;
        }
    }
    input, textarea {
        border: 1px solid #dddddd;
        background-color: #ffffff;
        color: #000000;
        @extend %Rubik-r;
        font-size: 16px;
        width: 100%;
        &::placeholder { 
            color: rgb(0, 0, 0);
            opacity: 1;
        }
        
        &:-ms-input-placeholder { 
            color: rgb(0, 0, 0);
        }
        
        &::-ms-input-placeholder { 
            color: rgb(0, 0, 0);
        }
    }
    input {
        padding: 0 23px;
        height: 62px;
        @media screen and (max-width: $extra) {
            height: 40px;
        }
    }
    textarea {
        height: 120px;
        padding: 22px 23px;
        resize: none;
    }
}
.button {
    margin: 0 auto;
    padding: 0;
    cursor: pointer;    
    input[type=submit] {
        background-color: $green;
        border-radius: 5px;
        text-align: center;
        color: #ffffff;
        @extend %Rubik-m;
        text-transform: uppercase;
        display: block;
        text-decoration: none;
        border: 0;
        cursor: pointer;
    }

    &:hover {
        position: relative;
        input[type=submit] {
            color: $green;
            background-color: transparent;
        }
        &:before {
            content: '';
            border: 2px solid $green;
            position: absolute;
            border-radius: 5px;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            top: 0;
            left: 0;
        }
    }
}
// breadcrumb
.woocommerce-breadcrumb {
    margin: 68px 0 35px 0;
    @media screen and (max-width: $extra) {
        margin: 45px 0 25px 0;
    }
    a, span {
        color: #7c7c7c;
        @extend %Rubik-r;
        font-size: 12px;
        line-height: 2.5;
        padding: 0 10px;
        text-transform: uppercase;
        margin-right: 8px;
        display: inline-block; 
        background-color: #e8f1f5;
        text-decoration: none;
        border-radius: 5px;
        margin-bottom: 10px;       
    }
    span.breadcrumb-separator {
        display: none;
    }
}
// social
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'social' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-arrow:before {
    content: "\e905";
    color: #666;
  }
  .icon-facebook:before {
    content: "\e900";
    color: inherit;
  }
  .icon-vk:before {
    content: "\e901";
    color: inherit;
  }
  .icon-youtube:before {
    content: "\e902";
    color: inherit;
  }
//   select2
    // height: 37px;
.select2-container--default .select2-selection--single {
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
}
.select2-container .select2-selection--single {
    height: 37px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 14px;
    padding-right: 50px;
    line-height: 37px;
    color: #5f5f5f;
    @extend %Rubik-r;
    font-size: 13px;
    // outline: none;
    // &:focus, &:active {
    //     outline: none;
    // }
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: 0;
    border-style: solid;
    border-width: 0;
    border: 0;
    height: 7px;
    left: 50%;
    margin-left: -6px;
    margin-top: -3.5px;
    position: absolute;
    top: 50%;
    width: 12px;

    font-family: 'social' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:before {
        content: "\e905";
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        color: #5f5f5f;
        font-size: 6px;
    }
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent;
    border-width: 0;
    &:before {
        transform: rotate(-180deg);
    }
}
.select2-search--dropdown {
    display: none;
}
.select2-results__option {
    line-height: 1.5;
    color: #5f5f5f;
    @extend %Rubik-r;
    font-size: 13px;
}
// input type=number
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}