@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Black/Rubik-Black.woff2") format("woff2");
    /* Modern Browsers */
    src: url("../fonts/Rubik-Black/Rubik-Black.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Rubik-Black/Rubik-Black.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Rubik-Black/Rubik-Black.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Rubik-Black/Rubik-Black.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Rubik-Black/Rubik-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Rubik-Black/Rubik-Black.eot");
    /* IE9 Compat Modes */
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Bold/Rubik-Bold.woff2") format("woff2");
    /* Modern Browsers */
    src: url("../fonts/Rubik-Bold/Rubik-Bold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Rubik-Bold/Rubik-Bold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Rubik-Bold/Rubik-Bold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Rubik-Bold/Rubik-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Rubik-Bold/Rubik-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Rubik-Bold/Rubik-Bold.eot");
    /* IE9 Compat Modes */
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Medium/Rubik-Medium.woff2") format("woff2");
    /* Modern Browsers */
    src: url("../fonts/Rubik-Medium/Rubik-Medium.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Rubik-Medium/Rubik-Medium.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Rubik-Medium/Rubik-Medium.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Rubik-Medium/Rubik-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Rubik-Medium/Rubik-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Rubik-Medium/Rubik-Medium.eot");
    /* IE9 Compat Modes */
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Regular/Rubik-Regular.woff2") format("woff2");
    /* Modern Browsers */
    src: url("../fonts/Rubik-Regular/Rubik-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Rubik-Regular/Rubik-Regular.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Rubik-Regular/Rubik-Regular.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Rubik-Regular/Rubik-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Rubik-Regular/Rubik-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Rubik-Regular/Rubik-Regular.eot");
    /* IE9 Compat Modes */
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'social';
    src:  url('../fonts/social/icomoon.eot?zd8hq9');
    src:  url('../fonts/social/icomoon.eot?zd8hq9#iefix') format('embedded-opentype'),
      url('../fonts/social/icomoon.ttf?zd8hq9') format('truetype'),
      url('../fonts/social/icomoon.woff?zd8hq9') format('woff'),
      url('../fonts/social/icomoon.svg?zd8hq9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
