// colors
$green: #63b852;
// 
$extra: 1600px;
$large: 1600px;
// $large: 1140px;
$medium: 992px;
$small: 767px;
$extra-small: 480px;
// fonts 
%Rubik-eb {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 900;
}
%Rubik-b {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 700;
}
%Rubik-m {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 500;
}
%Rubik-r {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
}
// mixins
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin back-center($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
}