<button class="trigger-menu" id='trigger-menu'>menu</button>
<div class="fix-text" id="fix-nav">
    <ul>
        <li><a href="/cleaner/index.html">Main page</a></li>
        <li><a href="/cleaner/category.html">Category</a></li>
        <li><a href="/cleaner/products-list.html">Products list</a></li>
        <li><a href="/cleaner/product.html">Product</a></li>
        <li><a href="/cleaner/news.html">News list</a></li>
        <li><a href="/cleaner/article.html">Article</a></li>
        <li><a href="/cleaner/about.html">About</a></li>
        <li><a href="/cleaner/faq.html">FAQ</a></li> 
        <li><a href="/cleaner/contacts.html">Contacts</a></li> 
    </ul>
</div>