<footer class="footer">
    <div class="container">
        <div class="col">
            <span class="widget-title">iQvaks</span>
            <p>Материалы для чистки и уборки</p>
            <p>©2018 Все права защищены.</p>
            <div class="footer__social">
                <a href=""><i class="icon-vk"></i></a>
                <a href=""><i class="icon-facebook"></i></a>
                <a href=""><i class="icon-youtube"></i></a>
            </div>
        </div>
        <div class="col">
            <span class="widget-title">Продукция</span>
            <ul>             
                <li><a href="">HoReCa</a></li>
                <li><a href="">Моющие для АВТО</a></li>
                <li><a href="">Оборудование</a></li>
                <li><a href="">Средства для стирки</a></li>
                <li><a href="">Дом и огород</a></li>
                <li><a href="">Бумажная продукция</a></li>
                <li><a href="">Средства гигиены</a></li>
            </ul>
        </div>
        <div class="col">
            <span class="widget-title">Компания</span>
            <ul>
                <li><a href="">О нас</a></li>
                <li><a href="">Новости</a></li>
                <li><a href="">Спецпредложения</a></li>
                <li><a href="">Контакты</a></li>
                <li><a href="">Политика конфиденциальности</a></li>
                <li><a href="">Условия использования</a></li>
            </ul>
        </div>
        <div class="col">
            <a href="tel:+380441234567" class="footer__tel">+38 044 123-45-67</a>
            <a href="tel:+380442345678" class="footer__tel">+38 044 234-56-78</a>
            <a href="mailto:info@qvaks.ua" class="footer__email">info@qvaks.ua</a>
        </div>
    </div>
</footer>
<script src="js/main-min.js"></script>    