<header class="header">
    <div class="container">
        <a href="/cleaner" class="logo"><img src="img/logo.png" alt=""></a>
        <nav id="site-navigation" class="main-navigation">
            <div class="menu-toggle hamburger hamburger--spring js-hamburger" id="menu-toggle">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
            <div class="menu">
                <ul>
                    <li class=""><a href="/cleaner/category.html">Продукция</a></li>
                    <li class=""><a href="/cleaner/about.html">О нас</a></li>
                    <li class=""><a href="/cleaner">Спецпредложения</a></li>
                    <li class=""><a href="/cleaner/news.html">Новости</a></li>
                    <li class=""><a href="/cleaner/contacts.html">Контакты</a></li>
                </ul>
            </div>
        </nav>
        <div class="header-right">
            <a href="" class="btn signin">Войти</a>
            <ul id="site-header-cart" class="site-header-cart menu">
                <li class="">
                    <a class="cart-contents" href="http://testshop.isolly.com/cart/" title="View your shopping cart" style="opacity: 1;">
                        <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>38.00</span> <span class="count">0</span>
                    </a>
                </li>
                
            </ul>
            <a href="" class="header-search"></a>
        </div>
    </div>
</header>
<include src="/fix-menu.html"></include>