<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="shortcut icon" href="img/favicon.ico" type="image/png">
<link rel="stylesheet" href="http://cleaner.isolly.com/wp-content/themes/storefront/assets/css/woocommerce/woocommerce.css?ver=2.3.3">   
<link rel="stylesheet" href="css/main.css">    
<title>Cleaner</title>