<div class="modal" id="modal-video">
    <div class="modal__overlay"></div>
    <div class="modal__window">
        <button class="modal__close"></button>
        <!-- <iframe id="popup-youtube-player" width="640" height="360" src="@@link" frameborder="0" allowfullscreen="true" allowscriptaccess="always"></iframe> -->
        <iframe id="popup-youtube-player" width="640" height="360" src="" frameborder="0" allowfullscreen="true" allowscriptaccess="always"></iframe>
    </div>
</div>