<div class="woocommerce columns-4 ">
    <ul class="products columns-4">
        <li class="post-34 product type-product status-publish has-post-thumbnail product_cat-hoodies first instock sale featured taxable shipping-taxable purchasable product-type-simple">
            <a href="http://testshop.isolly.com/product/hoodie/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="324" height="324" src="http://testshop.isolly.com/wp-content/uploads/2018/09/hoodie.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="" srcset="http://testshop.isolly.com/wp-content/uploads/2018/09/hoodie.jpg 801w, http://testshop.isolly.com/wp-content/uploads/2018/09/hoodie-150x150.jpg 150w, http://testshop.isolly.com/wp-content/uploads/2018/09/hoodie-300x300.jpg 300w, http://testshop.isolly.com/wp-content/uploads/2018/09/hoodie-768x768.jpg 768w, http://testshop.isolly.com/wp-content/uploads/2018/09/hoodie-324x324.jpg 324w"
                    sizes="(max-width: 324px) 100vw, 324px">
                <h2 class="woocommerce-loop-product__title">Hoodie</h2>
                <span class="onsale">Sale!</span>

                <span class="price"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>45.00</span>
                </del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>42.00</span></ins></span>
            </a><a href="/?add-to-cart=34" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="34" data-product_sku="" aria-label="Add “Hoodie” to your cart" rel="nofollow">Add to cart</a>
        </li>
        <li class="post-32 product type-product status-publish has-post-thumbnail product_cat-hoodies instock sale featured taxable shipping-taxable purchasable product-type-simple">
            <a href="http://testshop.isolly.com/product/hoodie-with-pocket/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="324" height="324" src="http://testshop.isolly.com/wp-content/uploads/2018/09/hoodie-with-pocket.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="" srcset="http://testshop.isolly.com/wp-content/uploads/2018/09/hoodie-with-pocket.jpg 801w, http://testshop.isolly.com/wp-content/uploads/2018/09/hoodie-with-pocket-150x150.jpg 150w, http://testshop.isolly.com/wp-content/uploads/2018/09/hoodie-with-pocket-300x300.jpg 300w, http://testshop.isolly.com/wp-content/uploads/2018/09/hoodie-with-pocket-768x768.jpg 768w, http://testshop.isolly.com/wp-content/uploads/2018/09/hoodie-with-pocket-324x324.jpg 324w"
                    sizes="(max-width: 324px) 100vw, 324px">
                <h2 class="woocommerce-loop-product__title">Hoodie with Pocket</h2>
                <span class="onsale">Sale!</span>

                <span class="price"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>45.00</span>
                </del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>35.00</span></ins></span>
            </a><a href="/?add-to-cart=32" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="32" data-product_sku="" aria-label="Add “Hoodie with Pocket” to your cart" rel="nofollow">Add to cart</a>
        </li>
        <li class="post-29 product type-product status-publish has-post-thumbnail product_cat-accessories instock sale taxable shipping-taxable purchasable product-type-simple">
            <a href="http://testshop.isolly.com/product/cap/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="324" height="324" src="http://testshop.isolly.com/wp-content/uploads/2018/09/cap.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="" srcset="http://testshop.isolly.com/wp-content/uploads/2018/09/cap.jpg 801w, http://testshop.isolly.com/wp-content/uploads/2018/09/cap-150x150.jpg 150w, http://testshop.isolly.com/wp-content/uploads/2018/09/cap-300x300.jpg 300w, http://testshop.isolly.com/wp-content/uploads/2018/09/cap-768x768.jpg 768w, http://testshop.isolly.com/wp-content/uploads/2018/09/cap-324x324.jpg 324w"
                    sizes="(max-width: 324px) 100vw, 324px">
                <h2 class="woocommerce-loop-product__title">Cap</h2>
                <span class="onsale">Sale!</span>

                <span class="price"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>18.00</span>
                </del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>16.00</span></ins></span>
            </a><a href="/?add-to-cart=29" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="29" data-product_sku="" aria-label="Add “Cap” to your cart" rel="nofollow">Add to cart</a>
        </li>
        <li class="post-28 product type-product status-publish has-post-thumbnail product_cat-accessories last instock sale taxable shipping-taxable purchasable product-type-simple">
            <a href="http://testshop.isolly.com/product/belt/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="324" height="324" src="http://testshop.isolly.com/wp-content/uploads/2018/09/belt.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="" srcset="http://testshop.isolly.com/wp-content/uploads/2018/09/belt.jpg 801w, http://testshop.isolly.com/wp-content/uploads/2018/09/belt-150x150.jpg 150w, http://testshop.isolly.com/wp-content/uploads/2018/09/belt-300x300.jpg 300w, http://testshop.isolly.com/wp-content/uploads/2018/09/belt-768x768.jpg 768w, http://testshop.isolly.com/wp-content/uploads/2018/09/belt-324x324.jpg 324w"
                    sizes="(max-width: 324px) 100vw, 324px">
                <h2 class="woocommerce-loop-product__title">Belt</h2>
                <span class="onsale">Sale!</span>

                <span class="price"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>65.00</span>
                </del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>55.00</span></ins></span>
            </a><a href="/?add-to-cart=28" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="28" data-product_sku="" aria-label="Add “Belt” to your cart" rel="nofollow">Add to cart</a>
        </li>
    </ul>
</div>