

.video-block {
    @include flex(row, space-between, center);
    margin: 60px 0 85px 0;
    @media screen and (max-width: $medium) {
        @include flex(column, flex-start, center);
    }
    h3 {
        margin-bottom: 35px;

    }
    img {
        max-width: calc(50% - 10px);
        @media screen and (max-width: $medium) {
            max-width: 100%;
            width: 100%;
            margin-bottom: 20px;
        }
    }
    &__content {
        max-width: calc(50% - 10px);
        @media screen and (max-width: $medium) {
            max-width: 100%;
            width: 100%;
        }
    }
    .btn {
        margin-top: 40px;
        width: 206px;
        height: 41px;
        line-height: 41px;
    }
}

.advantages {
    padding: 90px 0 15px 0;
    text-align: center;
    background-color: #f5fcff;
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        margin: 80px 0 0 0;
    }
    &__item {
        text-align: center;
        width: calc(25% - 70px);
        padding: 0 15px;
        margin: 0 35px 95px 35px;
        @include flex(column, space-between, center);
        @media screen and (max-width: $medium) {
            width: calc(33.3333% - 70px);
        }
        @media screen and (max-width: $small) {
            width: calc(50% - 30px);
        }
        img {
            max-width: 100%;
        }
    }
    &__img {
        width: 74px;
        height: 74px;
        border-radius: 50%;
        background-color: #fff;
        position: relative;
        img {
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
        }
    }
    &__name {
        margin-top: 20px;
        color: #191919;
        @extend %Rubik-m;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
    }
}
// contacts
.contacts, .contacts-page {
    background-image: url(../img/map-back.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: visible;
    padding-bottom: 95px;
    &__info {
        padding: 75px 0 50px 0;
        padding-bottom: 23px;
        @include flex(row, space-between, flex-start);      
        @media screen and (max-width: $extra) {
            padding: 25px 0;
        }
        @media screen and (max-width: $small) {
            @include flex(column, flex-start, flex-start);
            padding: 25px;
        }
        p, a {
            color: #282828;
            @extend %Rubik-m;
            font-size: 14px;
            line-height: 1.4;
            text-transform: uppercase;
            text-decoration: none;
            @media screen and (max-width: $small) {
                display: block;
            }
        }
        .address, .phones, .email {
            display: inline-block;
            padding-left: 38px;
            position: relative;
            @media screen and (max-width: $small) {
                margin-bottom: 20px;
            }
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: -2px;
                left: 0;
                height: 25px;
                width: 25px;
                background-position: left center;
                background-size: auto;
                background-repeat: no-repeat;
            }
        }
        .address {
            width: 30%;
            max-width: 235px;   
            @media screen and (max-width: $small) {
                width: 100%;
                max-width: 100%;
            }         
            &:before {
                background-image: url(../img/icon-map.png);
            }
        }
        .phones {
            width: 35%;
            @media screen and (max-width: $small) {
                width: 100%;
                max-width: 100%;
            }            
            &:before {
                background-image: url(../img/icon-tel.png);
            }
            .sep {
                display: inline-block; 
                margin: 0 10px;  
                @media screen and (max-width: $small) {
                    display: none;
                }
            }
        }
        .email {
            width: 25%;
            @media screen and (max-width: $small) {
                width: 100%;
                max-width: 100%;
            }
            &:before {
                background-image: url(../img/icon-email.png);
            }
        }
    }
    &-form {
        padding: 45px 95px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #fff;
        @media screen and (max-width: $extra) {
            padding: 25px;
        }
        &__title {
            display: block;
            width: 100%;
            color: #000000;
            @extend %Rubik-b;
            font-size: 30px;
            line-height: 1;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 42px;
            @media screen and (max-width: $extra) {
                font-size: 28px;
            }
            @media screen and (max-width: $medium) {
                font-size: 24px;
            }
        }

        .button {
            margin-top: 7px;
            input[type=submit] {
                width: 160px;
                height: 51px;
                font-size: 14px;
                line-height: 52px;
                @media screen and (max-width: $extra) {
                    height: 45px;
                    line-height: 46px;
                }
                @media screen and (max-width: $small) {
                    height: 41px;
                    line-height: 42px;
                }
            }
        }
    }
}