.article {
    padding-bottom: 30px;
    h1 {
        margin-bottom: 0; 
        font-size: 48px;
        @media screen and (max-width: $extra) {
            font-size: 42px;
        }
        @media screen and (max-width: $large) {
            font-size: 36px;
        }
        @media screen and (max-width: $small) {
            font-size: 32px;
        }
    }
    p {
        margin: 30px 0;
    }
    &__info {
        margin: 15px 0 31px;
        @media screen and (max-width: $extra) {
            margin: 10px 0 20px;            
        }
        span {
            color: #7c7c7c;
            @extend %Rubik-r;
            font-size: 12px;
            line-height: 2; 
            margin-right: 20px;           
            &::before {
                display: inline-block;
                font-family: 'social' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
            
                /* Better Font Rendering =========== */
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;

                color: inherit;
                margin-right: 10px;
            }
        }
    }
    &__date {
        width: 100px;
        &::before {
            content: "\e903";
        }
    }
    &__comments {
        &::before {
            content: "\e904";
        }
    }
    img {
        max-width: 100%;
        margin: 20px auto;
        display: block;
    }
    &__img {
        margin: 46px 0;
        width: 100%;
        @media screen and (max-width: $extra) {
            margin: 20px 0;
        }
        img {
            width: 100%;
        }
    }    
}
// comments
.article-comments {
    background-color: #f5fcff;
    padding: 30px 0 40px 0;
    h2 {
        margin: 45px 0;
    }
}
.comments-area {
    max-width: 760px;
}
.comment-list {
    margin-bottom: 20px;
}
.comment {
    
    &-body {
        @include flex(row, flex-start, flex-start);
        @media screen and (max-width: $small)  {
            @include flex(column, center, center);
        }
    }
    &-meta {
        width: 80px;
        margin-right: 15px;
        background-color: transparent;
        @media screen and (max-width: $small) {
            margin: 0 auto;
        }
    }
    &-author {
        img {
            display: block;
            margin-bottom: 12px;
            max-width: 100%;
        }
        a {
            line-height: 1.2;
            text-decoration: none;
            color: #282828;
            @extend %Rubik-m;
            font-size: 14px;
        }
    }
    &-date {
        text-decoration: none;
        time {            
            color: #929292;
            @extend %Rubik-r;
            font-size: 12px;
            line-height: 1.2;
        }
    }
    &-content {
        width: calc(100% - 110px);
        margin-bottom: 40px;
        position: relative;
        @include flex(column, flex-start, flex-end);
        @media screen and (max-width: $small) {
            width: 100%;
        }
        .reply {
            display: inline-block;
            width: 102px;
            height: 27px;
            a {
                width: 100%;
                height: 100%;
                line-height: 27px;
                color: #9f9f9f;
                background-color: transparent; 
                display: block;
                position: relative;  
                text-decoration: none;
                text-align: center;
                &:before {
                    content: '';
                    border: 2px solid #9f9f9f;
                    position: absolute;
                    border-radius: 5px;
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    top: 0;
                    left: 0;
                }
                &:hover {
                    background-color: $green;
                    border-radius: 5px;
                    text-align: center;
                    color: #ffffff;
                    &:before {
                        border: 2px solid $green;
                    }
                }
            }        
        }
    }
    &-text {
        padding: 25px 30px 5px 30px;
        background-color: #ffffff;
        margin-bottom: 20px;
        width: 100%;
        p {
            margin-bottom: 20px;
            font-size: 14px;
            line-height: 1.4;
        }
    }
    // comment reply
    &-notes {
        p, span {
            color: #282828;
            font-family: Rubik;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
        }
    }
    &-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &-form-author, &-form-email, &-form-comment {
        @include flex(column, flex-start, flex-start);
        margin: 30px 0;
        @media screen and (max-width: $small) {
            margin: 15px 0;
        }
        label {
            color: #282828;
            @extend %Rubik-r;
            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 12px;
        }
        input, textarea {
            width: 100%; 
            @extend %Rubik-r;
            font-size: 14px;           
            background-color: #ffffff;
            border: 0;
        }
        input {
            height: 42px;
            padding: 0 15px;            
        }
        textarea {
            height: 157px;
            padding: 15px;
            resize: none;
        }
    }
    &-form-author, &-form-email {
        width: calc(50% - 15px);
        @media screen and (max-width: $small) {
            width: 100%;
        }
    }
    &-form-comment {
        width: 100%;        
    }
}
// comment reply
.comment-reply-title {
    color: #386ad0;
    @extend %Rubik-b;
    font-size: 24px;
    line-height: 2;
    text-transform: uppercase;
    display: block;
    @media screen and (max-width: $small) {
        line-height: 1.2;
        margin-bottom: 20px;
    }
}
.form-submit {
    display: inline-block;
    min-width: 133px;
    height: 41px;
    position: relative;
    margin: 40px 0;
    cursor: pointer;
    input {
        background-color: #63b852;
        color: #ffffff;
        @extend %Rubik-b;
        font-size: 14px;
        line-height: 44px;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        height: 100%;
        display: block;
        border: 0;
        border-radius: 5px;
        padding: 0 15px;
        cursor: pointer;
    }
    &:hover {
        &:before {
            content: '';
            border: 2px solid $green;
            position: absolute;
            border-radius: 5px;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            top: 0;
            left: 0;
        }
        input {
            background-color: transparent;
            color: $green;
        }
    }
}