.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    margin: 60px 0 75px 0;
    &__item {
        width: calc(33.3333% - 20px);
        margin-bottom: 75px;
        @media screen and (max-width: $small) {
            width: calc(50% - 15px);
            margin-bottom: 40px;
        }
        @media screen and (max-width: $extra-small) {
            width: 100%;
        }
        &:not(:nth-child(3n+3)) {
            margin-right: 30px;
            @media screen and (max-width: $small) {
                margin-right: 0px;
            }
        }    
        &:nth-child(2n+1) {
            @media screen and (max-width: $small) {
                margin-right: 30px;
            }
            @media screen and (max-width: $extra-small) {
                margin-right: 0;
            }
        }    
        p {
            color: #282828;
            @extend %Rubik-r;
            font-size: 14px;
            line-height: 1.5;
        }
    }
    &__img {
        display: block;
        position: relative;
        font-size: 0;
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, .2);
            transition: height .5s ease-in-out;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
        }
        &:hover {
            &:before {
                height: 100%;
            }
        }
        img {
            width: 100%;
        }
    }
    &__name {
        display: inline-block;
        margin: 28px 0 24px;
        background-color: #386ad0;
        color: #ffffff;
        @extend %Rubik-r;
        font-size: 18px;
        line-height: 2.3;
        padding: 0 15px;
        width: auto;
        text-transform: uppercase;
        text-decoration: none;        
        @media screen and (max-width: $large) {
            font-size: 14px;
        }
    }
}