.contacts-page {
    background-image: none;
    padding-bottom: 60px;
    &__info {
        padding: 27px 0 46px;
    }
    &__map {
        height: 710px;
        width: 100%;
        @media screen and (max-width: $extra) {
            height: 500px;
        }
        @media screen and (max-width: $small) {
            height: 300px;
        }
    }
    &-form {
        padding: 15px;
        max-width: 950px;
        margin: 0 auto;
        margin-top: 60px;
    }
}