.question {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 95px;
    margin-top: 46px;
    &__item {
        width: calc(50% - 15px);
        margin-bottom: 50px;
        padding-right: 20px;
        @media screen and (max-width: $medium) {
            width: 100%;
        }
        &:nth-child(2n+1) {
            margin-right: 30px;
            @media screen and (max-width: $medium) {
                margin-right: 0;
            }
        }
    }
    h4 {
        color: #282828;
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 20px;
    }
    p {
        color: #5e5e5e;
        font-size: 14px;
    }
}
