.footer {
    background-color: #386ad0;
    padding: 55px 0 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    @media screen and (max-width: $small) {
        padding-bottom: 0;
        position: static;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .col {
        width: 25%;
        padding-right: 15px;
        text-align: left;
        @media screen and (max-width: $small) {
            width: 100%;
            margin-bottom: 25px;
        }
        &:first-child {
            width: 34%;
            @media screen and (max-width: $medium) {
                width: 25%;
            }
            @media screen and (max-width: $small) {
                order: 1;
                width: 100%;
            }
            p, a {
                &.footer__title {
                    font-size: 18px;
                    line-height: 1;
                    margin-bottom: 20px;
                }
            }
        }
        &:nth-child(2), &:nth-child(3) {
            width: 23%; 
            @media screen and (max-width: $medium) {
                width: 25%;
            }
            @media screen and (max-width: $small) {
                width: 100%;
            }
        }
        &:nth-child(2) {
            @media screen and (max-width: $small) {
                order: 3;
            }
        }
        &:nth-child(3) {
            @media screen and (max-width: $small) {
                order: 4;
            }
        }
        &:last-child {
            width: 20%;
            text-align: right;
            padding-right: 0;
            @media screen and (max-width: $medium) {
                width: 25%;
            }
            @media screen and (max-width: $small) {
                width: 100%;
                text-align: left;
                order: 2;
            }
        }
        li {
            margin: 10px 0;
        }
    }
    
    p, a {
        color: #000000;
        @extend %Rubik-r;
        font-size: 14px;
        line-height: 1.2;
        text-decoration: none;
        &.footer__title {
            @extend %Rubik-b;
            text-transform: uppercase;
            margin-bottom: 16px;
        }
        &.widget-title {
            color: #000000;
            font-size: 14px;
            line-height: 1.2;
            text-decoration: none;
            @extend %Rubik-b;
            text-transform: uppercase;
            margin-bottom: 16px;
            display: block;
        }
        &.footer__tel {
            display: block;
            color: #000000;
            @extend %Rubik-m;
            font-size: 16px;
            line-height: 1.2;
            text-transform: uppercase;
        }
        &.footer__email {
            color: #000000;
            @extend %Rubik-m;
            font-size: 14px;
            line-height: 1.2;
            position: relative;
            padding: 20px 0;
            display: block;
            margin-top: 17px;
            &:before, &:after {
                content: '';
                display: block;
                position: absolute;
                width: 50px;
                height: 1px;
                background-color: #000000;
                right: 0;   
                @media screen and (max-width: $small) {
                    right: auto;
                    left: 0;
                }
            }
            &:before {
                top: 0;
            }
            &:after {
                bottom: 0;
            }
        }
    }
    .widget-title {
        color: #000000;
        font-size: 14px;
        line-height: 1.2;
        text-decoration: none;
        @extend %Rubik-b;
        text-transform: uppercase;
        margin-bottom: 16px;
        display: block;
    }
    &__social {
        @include flex(row, flex-start, center);
        margin-top: 45px;
        a {
            display: inline-block;
            position: relative;
            color: #000000;
            font-size: 18px;
            margin-right: 15px;
            &:first-child {
                font-size: 13px;
            }
            &:hover {
                transform: translateY(-2px);
            }
        }
    }
}