.main-page {
    .header {
        background-color: transparent;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
    }
}
.header {
    width: 100%;
    padding: 30px 0;

    background-color: #f5fcff;
    .container {
        @include flex(row, space-between, center);
        @media screen and (max-width: $small) {
            padding-right: 75px;
        }
    }
    .logo {
        width: auto;
        display: inline-block;
        @media screen and (max-width: $extra) {
            width: 140px;
        }
        @media screen and (max-width: $small) {
            width: 175px;
            order: 1;
        }
        img {
            max-width: 100%;
        }
    }
    &-right {
        @include flex(row, flex-end, center);
        @media screen and (max-width: $small) {
            width: 100%;
            order: 3;
            display: inline-block;
            width: auto;
        }

        .btn {
            @media screen and (max-width: $small) {
                display: none;
            }
        }
    }
    .btn {
        width: 72px;
        height: 34px;
        line-height: 34px;
        font-size: 12px;
        @media screen and (max-width: $extra) {
            height: 30px;
            line-height: 31px;
            font-size: 11px;
        }
    }
    .site-header-cart {
        width: 29px;
        height: 29px;
        display: block;
        @include back-center('../img/Forma_1.png');
        position: relative;
        font-size: 0;
        margin-left: 26px;
        cursor: pointer;
        @media screen and (max-width: $extra) {
            width: 22px;
            height: 22px;
            background-size: 100% auto;
        }
        @media screen and (max-width: $medium) {
            margin-left: 10px;
        }
        &:hover {
            transform: translateY(-0.5px); 
        }
        .count {
            position: absolute;
            display: block;
            background-color: $green;
            color: #ffffff;
            @extend %Rubik-r;
            font-size: 10px;
            text-transform: uppercase;
            opacity: 1;
            border-radius: 18px;
            line-height: 18px;
            height: 18px;
            min-width: 18px;
            padding: 1px 2px;
            text-align: center;
            top: 5px;
            right: 0;
            transform: translate3d(50%, -50%, 0); 
            @media screen and (max-width: $extra) {
                top: 0px;
            }
        }
    }
    &-search {
        cursor: pointer;
        width: 29px;
        height: 29px;
        display: block;
        @include back-center('../img/search.png');
        margin-left: 21px;
        @media screen and (max-width: $extra) {
            width: 22px;
            height: 22px;
            background-size: 100% auto;
        }
        @media screen and (max-width: $medium) {
            margin-left: 10px;
        }
        @media screen and (max-width: $small) {
            display: none;
        }
        &:hover {
            transform: translateY(-0.5px); 
        }
    }

}