.main-page {
    h1, h2, h3, h4, h5, h6 {
        @extend %Rubik-b;
    }
    h2 {
        text-transform: uppercase;
        font-size: 48px;
        line-height: 1.1;
        color: #386ad0;
        @media screen and (max-width: $extra) {
            font-size: 38px;
        }
        @media screen and (max-width: $medium) {
            font-size: 32px;
        }
        @media screen and (max-width: $small) {
            font-size: 28px;
        }
        span {
            color: #282828;
            @extend %Rubik-r;
            font-size: 24px;
            line-height: 1.8;
            text-transform: uppercase;
            display: block;
            @media screen and (max-width: $extra) {
                font-size: 20px;
            }
            @media screen and (max-width: $medium) {
                font-size: 18px;
            }
            @media screen and (max-width: $small) {
                font-size: 16px;
            }
        }
    }
    h3 {
        color: #386ad0;
        font-size: 36px;
        line-height: 1.3;
        text-transform: uppercase;
        @media screen and (max-width: $extra) {
            font-size: 30px;
        }
        @media screen and (max-width: $medium) {
            font-size: 26px;
        }
        @media screen and (max-width: $small) {
            font-size: 24px;
        }
    }
    h4 {
        color: #386ad0;
        font-size: 24px;
        line-height: 1.3;
        text-transform: uppercase;
        @media screen and (max-width: $extra) {
            font-size: 21px;
        }
    }

    .contacts {
        background-color: #386ad0;
        background-size: auto 500px ;
        padding-bottom: 0;
        padding-bottom: 75px;
    }
}

.main-slider {
    z-index: 1;
    background-color: #d0e7f1;
    // .owl-carousel {
    //     background-position: top center;
    //     background-size: cover;
    //     background-image: url(../img/main-back.png);
    // }
    &__item {
        position: relative;
        padding: 220px 0 180px 0;
        background-position: top center;
        background-size: cover;
        min-height: 800px;
        @media screen and (max-width: $extra) {
            min-height: 600px;
            height: 100vh;
            padding: 100px 0 120px;
            @include flex(row, flex-start, center);
        }
        @media screen and (max-width: $medium) {
            padding: 135px 0;
            min-height: 630px;
        }       
        h2 {
            color: #386ad0;
            @extend %Rubik-b;
            font-size: 48px;
            line-height: 1.1;
            text-transform: uppercase;
            @media screen and (max-width: $extra)  {
                font-size: 38px;
            }
            @media screen and (max-width: $medium)  {
                font-size: 32px;
            }
            @media screen and (max-width: $small)  {
                font-size: 28px;
            }

            span {
                font-size: inherit;
                font-weight: inherit;
                line-height: inherit;
                color: #282828;
            }
        }
        .container {
            @include flex(row, space-between, flex-end);
            @media screen and (max-width: $small) {
                @include flex(column, flex-start, center);
                // padding-bottom: 100px;
            }
        }
    }    
    &__content {
        max-width: 435px;
        // padding-bottom: 135px;
        // @media screen and (max-width: $small) {
        //    padding-bottom: 35px; 
        //    width: 100%;
        //    max-width: 100%;
        // }
        p {
            color: #282828;
            @extend %Rubik-r;
            font-size: 18px;
            line-height: 1.4;
            margin: 20px 0;
            @media screen and (max-width: $extra) {
                font-size: 15px;
                margin: 10px 0;
            }            
        }
        .subtitle {
            color: #282828;
            @extend %Rubik-r;
            font-size: 24px;
            line-height: 1.2;
            text-transform: uppercase;
            margin: 0;
            margin-bottom: 15px;
            @media screen and (max-width: $extra) {
                font-size: 16px;
                margin-bottom: 10px;
            }
            @media screen and (max-width: $small) {
                margin-bottom: 5px;
            }
        }
        .btn {            
            font-size: 12px;
            margin-top: 35px;
            width: 255px;
            height: 61px;
            font-size: 18px;
            line-height: 62px;
            text-transform: none;
            @media screen and (max-width: $extra) {
                width: 210px;
                height: 40px;
                font-size: 16px;
                line-height: 40px;
            }
            @media screen and (max-width: $small) {
                width: 240px;
                height: 48px;
                line-height: 48px;
                // position: absolute;
                // bottom: 60px;
                // left: 50%;
                // transform: translateX(-50%);
            }
        }
    }
    &__img {
        width: calc(100% - 435px);
        text-align: right;
        display: table-cell;
        vertical-align: bottom;
        @include flex(row, flex-end, flex-end);
        @media screen and (max-width: $small) {
            padding-bottom: 35px;
            @include flex(row, center, flex-end);
            width: 100%;
        }
        img {
            max-width: 320px;
            max-height: 100%;            
        }
    }
    .owl-dots {
        @include flex(row, flex-start, center);
        margin: 15px 0;
        position: absolute;
        bottom: 134px;
        left: 50%;
        transform: translateX(-555px); 
        @media screen and (max-width: $extra) {
            transform: translateX(-480px);
            bottom: 80px;
        }
        @media screen and (max-width: $medium) {
            transform: translateX(-368px);
        }
        @media screen and (max-width: $small) {
            transform: translateX(-50%);
            // bottom: 10px;
        }
        .owl-dot {
            margin: 0 5px;
            outline: none;
            span {
                width: 10px;
                height: 10px;
                background-color: #2e3336;
                display: block;
                border-radius: 50%;
            }
            &.active {
                span {
                    width: 16px;
                    height: 16px;
                    background-color: #2e3336;
                }
            }
        }
    }
}
// production
.production {
    padding: 48px 0 22px 0;
    background-color: #d0e7f1;   
    
    &__wrap {
        margin-top: 42px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        z-index: 1;
        &:before {
            content: '';
            position: absolute;
            display: block;
            background: #fff;
            z-index: -1;
            width: 90%;
            height: 65%;
            top: 50%;
            transform: translate3d(0,-45%,0);
            right: -90px;
        }
    }
    &__item {
        z-index: 2;
        width: calc(33.3333% - 20px);
        margin: 18px 0;
        display: block;
        height: 0;
        padding-top: 31.4%;
        background-size: cover;
        position: relative;
        overflow: hidden;
        @media screen and (max-width: $small) {
            width: calc(50% - 15px);
            padding-top: 46%;
        }
        @media screen and (max-width: $extra-small) {
            width: 100%;
            padding-top: 100%;
        }
        &:first-child {
            @media screen and (max-width: $small) {
                height: auto;
                padding-top: 15px;
                p, a {
                    position: static;
                }
            }
        }
        &:not(:first-child) {
            &:before {
                content: '';
                display: block;
                width: 100%;
                height: 0;
                width: 100%;
                background-color: rgba(0, 0, 0, .2);
                transition: height .5s ease-in-out;
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
            }
            &:hover {
                &:before {
                    height: 100%;
                }
            }
        }
        p {
            z-index: 2;
            color: #282828;
            @extend %Rubik-r;
            font-size: 18px;
            line-height: 1.7;
            display: block;
            text-decoration: none;
            position: absolute;
            display: block;
            width: auto;
            height: auto;
            top: 0;
            left: 0px;
            @media screen and (max-width: $extra) {
                font-size: 15px;
            }
            &.production__name {
                position: absolute;
                top: auto;
                bottom: 21px;
                left: 18px;
                padding: 7px 19px;
                line-height: 1;
                background-color: #000000;
                display: inline-block;
                width: auto;
                height: auto;
                color: #ffffff;
                @extend %Rubik-r;
                font-size: 18px;
                text-transform: uppercase;
                @media screen and (max-width: $extra) {
                    font-size: 14px;
                }
            }
        }
    } 
}
// about
$translate: 110px;
$translate-small: 0px;
.about {    
    padding-top: 135px;
    position: relative;
    z-index: 1;
    background-color: #fff;
    &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        background-size: 100% auto;
        z-index: -1;
        height: auto;
        height: 250px;
        background-repeat: no-repeat;
    }
    &:before {
        top: 0;
        background-position: top left;
        background-image: url(../img/blue-before.png);
    }
    &:after {
        bottom: $translate;
        background-position: top right; 
        background-image: url(../img/blue-before.png); 
        transform: rotate(180deg); 
        @media screen and (max-width: $small) {
            bottom: $translate-small;
        }
    }
    h2 {
        margin-bottom: 36px;
    }
    &>.container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__content {
        width: 30%;
        @media screen and (max-width: $small) {
            width: 100%;
        }
    }
    .btn {
        width: 206px;
        height: 41px;
        font-size: 14px;
        line-height: 42px;
        margin: 36px 0;
    }
    &__wrap {
        width: 63%;
        text-align: right;
        padding-top: 55px;
        @media screen and (max-width: $small) {
            width: 100%;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__item {
        width: 30%;
        display: inline-block;
        padding-right: 15px;
        height: auto;
        text-align: left;
        vertical-align: top;
        margin-bottom: 70px;
        @media screen and (max-width: $small) {
            width: 50%;
            text-align: center;
            padding: 0 15px;
        }
        &:nth-child(2), &:nth-child(4) {
            padding-right: 40px;
            width: 37%;
            @media screen and (max-width: $small) {
                width: 50%;
                text-align: center;
                padding: 0 15px;
            }
        }
        &:nth-child(3), &:nth-child(5), &:nth-child(6) {
            width: 23%;
            padding: 0;
            @media screen and (max-width: $small) {
                width: 50%;
                text-align: center;
                padding: 0 15px;
            }
        }
        &:last-child {
            margin-bottom: 0;
            padding: 0;
            width: 22%;
            @media screen and (max-width: $small) {
                width: 50%;
                text-align: center;
                padding: 0 15px;
            }
        }
    }
    &__img {
        display: block;
        position: relative;
        width: 74px;
        height: 74px;
        background-color: #e8f8ff;
        border-radius: 50%;
        margin-bottom: 32px;
        @media screen and (max-width: $small) {
            margin: 0 auto;
            margin-bottom: 20px;
        }
        img {
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
        }        
    }
    &__name {
        color: #191919;
        @extend %Rubik-m;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
    }
    // banner
    &-banner {
        width: 57%;
        min-width: 545px;
        // padding: 90px 40px 15px 40px;
        padding: 25px;
        // padding: 78px 40px 17px;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom center;
        @include flex(row, center, center);
        transform: translateY(-$translate);
        position: relative;
        height: auto;
        // padding-top: 33.5%;
        @media screen and (max-width: $extra) {
            min-height: 390px;
        }
        @media screen and (max-width: $small) {
            transform: translateY(-$translate-small);
            margin: 0 auto;
            @include flex(column, center, center);
            min-width: auto;
            width: 100%;
        }
        &__img {
            // width: calc(40% - 40px);
            @include flex(row, center, flex-end);
            // width: 40%;
            // padding-top: 30px;
            width: calc(45% - 40px);
            padding-right: 15px;
            padding: 0;
            // position: absolute;
            // left: 20px;
            // bottom: 18px;
            @media screen and (max-width: $small) {
                width: 100%;
                order: 2;
            }
            img {
                max-width: 100%;
            }
        }
        &__content {
            width:58%;
            padding: 0 30px;
            padding-top: 15px;
            @media screen and (max-width: $small) {
                width: 100%;
                order: 1;
            }
            // position: absolute;
            // right: 40px;
            // top: 50%;
            // transform: translateY(-50%);
        }
        &__desc {
            font-size: 14px;
            @extend %Rubik-m;
            line-height: 1.1;
            color: #9e9e9e;
        }
        &__sale {
            color: #ffffff;
            @extend %Rubik-b;
            font-size: 12px;
            line-height: 2;
            text-transform: uppercase;
            display: inline-block;
            width: auto;
            background-color: #ff5656;
            padding: 0 10px;
            margin-bottom: 20px;
        }
        .btn {
            margin: 35px 0;
            width: 133px;
        }
    }
    &+section {
        position: relative;
        &:before {
            content: '';
            top: -$translate;
            height: $translate;
            width: 100%;
            position: absolute;
            display: block;
            background-color: #d0e7f1;
            z-index: 1;
            @media screen and (max-width: $small) {
               top: -$translate-small;
                height: $translate-small; 
            }
        }
    }
}
// special
.special {
    background-color: #d0e7f1;
    padding-bottom: 30px;
    @media screen and (max-width: $small) {
        padding-top: 70px;
    }
    .woocommerce {
        margin: 60px 0 0 0;
    }
}    
    .woocommerce {
        .products {            
            @include flex(row, space-between, stretch);
            @media screen and (max-width: $medium) {
                flex-wrap: wrap;
                justify-content: space-between;
            }
            @media screen and (max-width: $small) {
                @include flex(column, flex-start, stretch);
            }
            &::before, &::after {
                display: none;
            }
            li.product {
                text-align: left;
                display: inline-block;
                position: relative;
                width: calc(25% - 30px);
                min-width: 265px;
                max-width: 400px;
                background-color: #ffffff;
                padding: 35px;
                @media screen and (max-width: $extra) {
                    padding: 20px;
                    width: calc(25% - 10px);
                }
                @media screen and (max-width: $medium) {
                    padding: 35px;
                    width: calc(50% - 20px);
                }
                @media screen and (max-width: $small) {
                    width: 100%;
                    margin: 0 auto;
                    margin-bottom: 20px;
                    max-width: 265px;
                }
                &:first-child {
                    width: calc(50% - 30px);
                    min-width: 450px;
                    max-width: 100%;
                    @include flex(row, space-between, center);
                    @media screen and (max-width: $extra) {
                        min-width: 400px;
                        max-width: 400px;
                        width: calc(50% - 10px);
                    }
                    @media screen and (max-width: $medium) {
                        max-width: 100%;
                        width: 100%;
                        margin-bottom: 40px;
                        padding: 35px;
                    }
                    @media screen and (max-width: $small) {
                        @include flex(column, space-between, center);
                        width: 100%;
                        margin: 0 auto;
                        margin-bottom: 20px;
                        min-width: 265px;
                        max-width: 265px;
                    }
                    .product-img {
                        width: 35%;
                        text-align: center;
                        @media screen and (max-width: $small) {
                            width: 100%;
                        }
                        img {
                            max-width: 100%;
                            display: block;
                            margin: 0 auto;
                            margin-bottom: 25px;
                            @media screen and (max-width: $small) {
                                max-height: 140px;
                            }
                        }
                    }
                    .product-wrap {
                        width: 55%;
                        height: 100%;
                        @include flex(column, flex-end, flex-start);     
                        @media screen and (max-width: $small) {
                            width: 100%;
                        }
                        .price {
                            margin-top: 30px;
                        }                   
                        // .onsale {
                        //     right: -18px;
                        //     top: -18px;
                        // }
                    }
                }
                p {
                    color: #282828;
                    @extend %Rubik-r;
                    font-size: 14px;
                    line-height: 1.2;
                    margin: 15px 0;                    
                }
                h2 + p {
                        margin-bottom: 30px;
                }
                a {
                    text-decoration: none;
                    img {
                        display: block;
                        margin: 0 auto;
                        margin-bottom: 25px;
                        max-width: 100%;
                        @media screen and (max-width: $small) {
                            max-height: 140px;
                        }
                    }
                }
                h2 {
                    @extend %Rubik-b;
                    font-size: 18px;
                    text-transform: uppercase;
                    color: #386ad0;
                    text-align: left;
                    a {
                        color: inherit;
                    }
                    span {
                        color: #9e9e9e;
                        @extend %Rubik-m;
                        font-size: 14px;
                        line-height: 1.3;
                        a {
                            color: inherit;
                        }
                    }
                }
                .onsale {
                    display: block;
                    position: absolute;
                    top: 17px;
                    right: 17px;
                    font-size: 0;
                    border: 0;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: #ff5656;
                    &:before {
                        content: '%';
                        position: absolute;
                        display: block;
                        color: #ffffff;
                        @extend %Rubik-b;
                        font-size: 24px;
                        line-height: 40px;
                        text-transform: uppercase;
                        top: 50%;
                        left: 50%;
                        transform: translate3d(-50%, -50%, 0);
                        @media screen and (max-width: $extra) {
                            font-size: 21px;
                        }
                    }
                }
                .price {
                    display: block;
                    @include flex(row, flex-start, center);
                    del {
                        margin-right: 10px;
                        display: inline-block;
                        span {
                            color: #919191;
                            @extend %Rubik-b;
                            font-size: 18px;
                            line-height: 50px;
                            text-decoration: line-through;
                            text-transform: uppercase;
                            @media screen and (max-width: $extra) {
                                font-size: 16px;
                                line-height: 30px;
                            }
                        }
                    }
                    ins {
                        text-decoration: none;
                        span {
                            color: #282828;
                            @extend %Rubik-b;
                            font-size: 24px;
                            line-height: 50px;
                            text-transform: uppercase;
                            @media screen and (max-width: $extra) {
                                font-size: 20px;
                                line-height: 30px;
                            }
                        }
                    }
                }
                .add_to_cart_button {
                    background-color: $green;
                    border-radius: 5px;
                    text-align: center;
                    font-size: 14px;
                    width: 133px;
                    height: 41px;
                    line-height: 42px;
                    color: #ffffff;
                    @extend %Rubik-m;
                    text-transform: uppercase;
                    display: block;
                    text-decoration: none;
                    margin: 0;
                    position: relative;
                    @media screen and (max-width: $extra) {
                        font-size: 14px;
                        width: 120px;
                        height: 35px;
                        line-height: 36px;
                    }
                    &:hover {
                        color: $green;
                        background-color: transparent;
                        &:before {
                            content: '';
                            border: 2px solid $green;
                            position: absolute;
                            border-radius: 5px;
                            width: calc(100% - 4px);
                            height: calc(100% - 4px);
                            top: 0;
                            left: 0;
                        }
                    }
                }
            }
        }
    }

// brands
.brands {
    background-color: #d0e7f1;
    padding-bottom: 60px;
    padding-top: 52px;
    h3 {
        text-align: center;
    }
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        padding: 60px 0;
        margin: 0 auto;
        max-width: 950px;
    }
    &__item {
        width: 25%;
        display: inline-block;
        height: 140px;
        @include flex(row, center, center);
        background-color: #fff;
        @media screen and (max-width: $small) {
            width: 50%;
        }
        @media screen and (max-width: $extra-small) {
            width: 100%;
        }
        &:nth-child(2n) {
            background-color: #e9e9e9;
        }
        &:nth-child(2n+5) {
            background-color: #e9e9e9;
        }
        &:nth-child(2n+6) {
            background-color: #fff;
        }
        @media screen and (max-width: $small) {
            &:nth-child(n) {
                background-color: #fff;
            }
            &:nth-child(4n+1), &:nth-child(4n+4) {
                background-color: #e9e9e9;
            }


        }
        @media screen and (max-width: $extra-small) {
            &:nth-child(2n+1) {
                background-color: #fff;
            }
            &:nth-child(2n+2) {
                background-color: #e9e9e9;
            }
        }
        img {
            max-width: 90%;
            max-height: 90%;
        }
    }
}