.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    &.active {
        display: block;
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }
    &__window {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        max-width: 90%;
        height: auto;
        transform: translate3d(-50%, -50%, 0);
        z-index: 2;
        video {
            max-width: 100%;
        }
    }
    &__close {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        transform: translate3d(100%, -100%, 0);
        border: 0;
        background-color: transparent;

        font-family: 'social' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
    
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        @media screen and (max-width: $small) {
            transform: translate3d(10px,-100%,0);
        }
        &:before {
            content: "\e906";
            position: absolute;
            display: block;
            top: 50%;
            right: 50%;
            transform: translate3d(50%, -50%, 0);
            font-size: 32px;
        }
    }
}