// --
.menu-toggle {
    position: absolute;
    top: 47px;
    right: 15px;
    outline: none;
    display: none;
    @media screen and (max-width: $small) {
        display: block;
        z-index: 4;        
    }
}
.main-navigation {
    margin-top: 8px;
    @media screen and (max-width: $extra) {
        margin-top: 0;
    }
    @media screen and (max-width: $small) {
        order: 2;
        // width: 100%;
    }
    &.active {
        .menu {
            @media screen and (max-width: $small) {
                transform: translateX(0);
                overflow: hidden;
            }
        }
    }
    .menu {
        @media screen and (max-width: $small) {
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            transform: translateX(-100%);
            background-color: white;
            transition: all 1.5s ease-in-out;
            width: 100%;
            padding: 25px 15px;
            padding-right: 60px;
            z-index: 3;
        }    
        ul {
            @include flex(row, flex-start, center);
            @media screen and (max-width: $small) {
                @include flex(column, flex-start, flex-start);
            }
            li {
                margin: 0 17.5px;
                @media screen and (max-width: $extra) {
                    margin: 0 12px;
                }
                @media screen and (max-width: $large) {
                    margin: 0 7px;
                }
                a {
                    text-decoration: none;
                    color: #000000;
                    @extend %Rubik-m;
                    font-size: 14px;
                    line-height: 1.2;
                    text-transform: uppercase;
                    display: inline-block;
                    position: relative;  
                    @media screen and (max-width: $extra) {
                        font-size: 13px;
                    }
                    @media screen and (min-width: $small) and (max-width: $medium) {
                        font-size: 12px;
                    }  
                    @media screen and (max-width: $small) {
                        line-height: 1.8;
                        padding: 10px 0;
                        width: 100%;
                        display: block;
                    }    
                    &:hover {
                        color: #888;
                    }     
                    // &:before, &:after {
                    //     content: '';
                    //     display: block;
                    //     position: absolute;
                    //     height: 1px;
                    //     width: 0;
                    //     background-color: #000000;
                    //     bottom: -1px;
                    //     transition: width .5s ease-in-out;
                    // }
                    // &:before {
                    //     left: 50%;
                    // }
                    // &:after {
                    //     right: 50%;
                    // }
                    // &:hover {
                    //     &:before, &:after {
                    //         width: 50%;
                    //     }
                    // }

                }
            }
        }
        
    }
}
// hamburger
.hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;

    display: none;
    @media screen and (max-width: $small) {
        display: block;
    }
}

.hamburger:hover {
    opacity: .7
}

.hamburger-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px
}

.hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px
}

.hamburger-inner,.hamburger-inner:after,.hamburger-inner:before {
    position: absolute;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #282828;
}

.hamburger-inner:after,.hamburger-inner:before {
    display: block;
    content: ""
}

.hamburger-inner:before {
    top: -10px
}

.hamburger-inner:after {
    bottom: -10px
}


.hamburger--spring .hamburger-inner {
    top: 2px;
    transition: background-color 0s linear .13s
}

.hamburger--spring .hamburger-inner:before {
    top: 10px;
    transition: top .1s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19)
}

.hamburger--spring .hamburger-inner:after {
    top: 20px;
    transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19)
}

.hamburger--spring.is-active .hamburger-inner {
    transition-delay: .22s;
    background-color: transparent
}

.hamburger--spring.is-active .hamburger-inner:before {
    top: 0;
    transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .15s,transform .13s cubic-bezier(.215,.61,.355,1) .22s;
    transform: translate3d(0,10px,0) rotate(45deg)
}

.hamburger--spring.is-active .hamburger-inner:after {
    top: 0;
    transition: top .2s cubic-bezier(.33333,0,.66667,.33333),transform .13s cubic-bezier(.215,.61,.355,1) .22s;
    transform: translate3d(0,10px,0) rotate(-45deg)
}