.news {
    padding-bottom: 90px;
    margin-top: 35px;
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        margin-bottom: 15px;
    }
    &__item {
        width: calc(33.3333% - 20px);
        margin-bottom: 52px;
        @media screen and (max-width: $small) {
            width: calc(50% - 15px);
            margin-bottom: 40px;
        }
        @media screen and (max-width: $extra-small) {
            width: 100%;
        }
        &:not(:nth-child(3n+3)) {
            margin-right: 30px;
            @media screen and (max-width: $small) {
                margin-right: 0px;
            }
        }    
        &:nth-child(2n+1) {
            @media screen and (max-width: $small) {
                margin-right: 30px;
            }
            @media screen and (max-width: $extra-small) {
                margin-right: 0;
            }
        }    
        p {
            color: #282828;
            @extend %Rubik-r;
            font-size: 14px;
            line-height: 1.5;
        }
    }
    &__img {
        display: block;
        margin-bottom: 30px;
        img {
            width: 100%;
        }
    }
    &__title {
        display: block;
        color: #386ad0;
        @extend %Rubik-b;
        font-size: 18px;
        line-height: 1.3;
        margin-bottom: 15px;
        text-decoration: none;
    }
    &__info {
        margin-top: 20px;
        span {
            color: #7c7c7c;
            @extend %Rubik-r;
            font-size: 12px;
            line-height: 2; 
            margin-right: 20px;           
            &::before {
                display: inline-block;
                font-family: 'social' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
            
                /* Better Font Rendering =========== */
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;

                color: inherit;
                margin-right: 10px;
            }
        }
    }
    &__date {
        width: 100px;
        &::before {
            content: "\e903";
        }
    }
    &__comments {
        &::before {
            content: "\e904";
        }
    }
    .btn--gray {
        margin: 0 auto;
        width: 160px;
        height: 51px;
        line-height: 51px;
        @media screen and (max-width: $extra) {
            width: 150px;
            height: 45px;
            line-height: 46px;
            font-size: 14px;
        }
        @media screen and (max-width: $medium) {
           height: 41px;
            line-height: 41px; 
        }
    }
}