.product.type-product {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 40px;
    h1 {
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 20px;
        margin-bottom: 13px;
        line-height: 1;
        @media screen and (max-width: $extra) {
            font-size: 32px;
            line-height: 1.2;
        }
        @media screen and (max-width: $medium) {
            font-size: 28px;
        }
        &+p {
            color: #282828;
            font-size: 14px;
        }
    }
    ul.products.columns-3, ul.products.columns-4 {
        margin-top: 35px;
    }
}
.woocommerce-product-gallery {
    width: 30%;
    padding: 0 15px;
    @media screen and (max-width: $small) {
        width: auto;
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    &__image {
        text-align: center;
    }
}
.summary {
    width: 70%;
    padding: 0 15px 0 40px;
    @media screen and (max-width: $small) {
        width: 100%;
    }
    .price {
        margin: 20px 0 15px;
        @include flex(row, flex-start, center);
        del {
            margin-right: 10px;
            display: inline-block;
            span {
                color: #919191;
                @extend %Rubik-b;
                font-size: 24px;
                line-height: 50px;
                text-decoration: line-through;
                text-transform: uppercase;
            }
        }
        ins {
            text-decoration: none;
            span {
                color: #282828;
                @extend %Rubik-b;
                font-size: 24px;
                line-height: 50px;
                text-transform: uppercase;
            }
        }
    }
    form.cart {
        @include flex(row, flex-start, center);
        @media screen and (max-width: $extra-small) {
            @include flex(column, flex-start, flex-start);
        }
        .quantity {
            height: 42px;
            border: 1px solid #dddddd;
            background-color: #ffffff;
            border-radius: 5px;
            margin-right: 60px;
            @include flex(row, flex-start, center);
            label {
                display: none;
            }
            input {
                color: #282828;
                @extend %Rubik-r;
                font-size: 24px;
                line-height: 1;
                border: 0;
                background-color: transparent;
                width: auto;
                display: inline-block;
                padding: 0 5px;
                margin: 0 10px;
                width: 40px
            }
            .plus, .minus {
                display: inline-block;
                color: #dddddd;
                @extend %Rubik-b;
                height: 30px;
                width: 30px;
                line-height: 30px;
                cursor: pointer;
                text-align: center;
            }
        }
        .button {
            width: 133px;
            height: 41px;
            background-color: $green;
            border-radius: 5px;
            text-align: center;
            color: #ffffff;
            @extend %Rubik-m;
            text-transform: uppercase;
            display: block;
            text-decoration: none;
            position: relative;
            font-size: 14px;
            margin: 0;
            @media screen and (max-width: $extra-small) {
                margin: 20px 0;
            }
            &:hover {
                position: relative;
                color: $green;
                background-color: transparent;
                &:before {
                    content: '';
                    border: 2px solid $green;
                    position: absolute;
                    border-radius: 5px;
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}
.woocommerce-tabs {
    @include flex(column, flex-start, flex-start);
    width: 100%;
    margin-top: 70px;
    margin-bottom: 56px;
    .panel {
        width: 100%;
        h2:first-of-type {
            margin-top: 20px;
        }
    }
}
.woocommerce-tabs ul.tabs {
    width: 100%;
    margin: 0;
    @include flex(row, flex-start, flex-end);
    border: 0;
    border-bottom: 2px solid #dddddd;
    margin-bottom: 19px;
    @media screen and (max-width: $extra-small) {
        @include flex(column, center, flex-start);
    }
    li {
        display: inline-block;
        margin-bottom: -3px;
        @media screen and (max-width: $extra-small) {
            width: 100%;
        }
        a {
            border-bottom: 2px solid #dddddd;
            color: #282828;
            @extend %Rubik-m;
            font-size: 18px;
            line-height: 59px;
            text-transform: uppercase;
            text-align: center;
            text-decoration: none;
            padding: 0 36px;
            display: block;
            @media screen and (max-width: $extra) {
                font-size: 16px;
            }
            .count {
                display: inline-block;
                border-radius: 50%;
                background-color: #63b852;
                color: #ffffff;
                @extend %Rubik-m;
                font-size: 12px;
                text-transform: uppercase;
                padding: 5px 7px;
                text-align: center;
                margin-left: 8px;
                line-height: 1;
                transform: translateY(-2.5px);
            }
        }
        &.active {
            a {
                border-bottom: 2px solid #386ad0;
            }
        }
    }
}
.woocommerce-Tabs-panel {
    width: 100%;
    p {
        margin: 26px 0;
    }
}

.related>h2:first-child, .upsells>h2:first-child {
    font-size: 36px;
    line-height: 1.1;
    a {
        color: inherit;
    }
    @media screen and (max-width: $medium) {
        font-size: 28px;
    }
}