.site-main {
    padding-bottom: 99px;

    .term-description {
        margin: 25px 0;
        p {
            color: #282828;
            @extend %Rubik-r;
            font-size: 18px;
            line-height: 1.6;
        }
    }
    .storefront-sorting {
        @include flex(row, flex-start, center);
        margin: 30px 0px;
        @media screen and (max-width: $small) {
            @include flex(column, flex-start, flex-start);
        }
    }
    p.woocommerce-result-count, .storefront-sorting select {
        color: #5f5f5f;
        @extend %Rubik-r;
        font-size: 13px;
        line-height: 37px;
        padding: 0;
        @media screen and (max-width: $small) {
            margin: 10px 0;
        }
    }
    ul.products.columns-4, ul.products.columns-3 {
        display: flex;
        flex-wrap: wrap;
        margin-top: 65px;
        @media screen and (max-width: $medium) {
            justify-content: space-around;
        }
        li.product {
            text-align: left;
            display: inline-block;
            position: relative;
            min-width: 215px;
            max-width: 280px;
            background-color: #ffffff;
            padding: 35px;
            margin-right: 0;
            margin-bottom: 25px;          
            p {
                color: #282828;
                @extend %Rubik-r;
                font-size: 14px;
                line-height: 1.2;
                margin: 15px 0;                    
            }
            h2 + p {
                margin-bottom: 15px;
            }
            a {
                text-decoration: none;
                img {
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 12px;
                    max-width: 100%;
                    @media screen and (max-width: $small) {
                        max-height: 140px;
                    }
                }
            }
            h2 {
                @extend %Rubik-b;
                font-size: 18px;
                text-transform: uppercase;
                color: #386ad0;
                text-align: left;
                a {
                    color: inherit
                }
                span {
                    color: #9e9e9e;
                    @extend %Rubik-m;
                    font-size: 14px;
                    line-height: 1.3;
                    a {
                        color: inherit
                    }
                }
            }
            .onsale {
                display: block;
                position: absolute;
                top: 17px;
                right: 17px;
                font-size: 0;
                border: 0;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #ff5656;
                &:before {
                    content: '%';
                    position: absolute;
                    display: block;
                    color: #ffffff;
                    @extend %Rubik-b;
                    font-size: 24px;
                    line-height: 40px;
                    text-transform: uppercase;
                    top: 50%;
                    left: 50%;
                    transform: translate3d(-50%, -50%, 0);
                    @media screen and (max-width: $extra) {
                        font-size: 21px;
                    }
                }
            }
            .price {
                display: block;
                @include flex(row, flex-start, center);
                del {
                    margin-right: 10px;
                    display: inline-block;
                    span {
                        color: #919191;
                        @extend %Rubik-b;
                        font-size: 18px;
                        line-height: 50px;
                        text-decoration: line-through;
                        text-transform: uppercase;
                        @media screen and (max-width: $extra) {
                            font-size: 16px;
                            line-height: 30px;
                        }
                    }
                }
                ins {
                    text-decoration: none;
                    span {
                        color: #282828;
                        @extend %Rubik-b;
                        font-size: 24px;
                        line-height: 50px;
                        text-transform: uppercase;
                        @media screen and (max-width: $extra) {
                            font-size: 20px;
                            line-height: 30px;
                        }
                    }
                }
            }
            .add_to_cart_button {
                background-color: $green;
                border-radius: 5px;
                text-align: center;
                font-size: 14px;
                width: 133px;
                height: 41px;
                line-height: 42px;
                color: #ffffff;
                @extend %Rubik-m;
                text-transform: uppercase;
                display: block;
                text-decoration: none;
                margin: 0;
                position: relative;
                &:hover {
                    color: $green;
                    background-color: transparent;
                    &:before {
                        content: '';
                        border: 2px solid $green;
                        position: absolute;
                        border-radius: 5px;
                        width: calc(100% - 4px);
                        height: calc(100% - 4px);
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
        &.columns-4 {
            li.product {
                width: calc(25% - 21px);
                margin-bottom: 25px;
                a {
                    color: inherit
                }
                &:not(:nth-child(4n+4)) {
                    margin-right: 28px;                
                }
                @media screen and (max-width: $large) {
                    // width: calc(33.3333% - 20px);
                    padding: 20px;
                    &:not(:nth-child(4n+4)) {
                        margin-right: 0;                
                    }
                    &:not(:nth-child(3n+3)) {
                        margin-right: 28px;                
                    }
                }
                @media screen and (max-width: $medium) {
                    width: calc(50% - 15px);
                    &:not(:nth-child(3n+3)) {
                        margin-right: 0;                
                    }
                    &:not(:nth-child(2n+2)) {
                        margin-right: 28px;                
                    }
                }
                @media screen and (max-width: $small) {
                    width: 100%;
                    margin: 0 auto!important;               
                    margin-bottom: 25px!important; 
                }
            }
        }
        
    }
    .btn--gray {
        margin: 0 auto;
        width: 160px;
        height: 51px;
        line-height: 51px;
        @media screen and (max-width: $extra) {
            width: 150px;
            height: 45px;
            line-height: 46px;
            font-size: 14px;
        }
        @media screen and (max-width: $medium) {
           height: 41px;
           line-height: 41px; 
        }
    }
}